DATABASE_USER="{{ postgres_username }}"
DATABASE_PASSWORD="{{ postgres_password }}"
DATABASE_NAME=awx
DATABASE_PORT=5432

MEMCACHED_HOST=memcached
RABBITMQ_HOST=rabbitmq
DATABASE_HOST=postgres

AWX_ADMIN_USER="{{ tower_username }}"
AWX_ADMIN_PASSWORD="{{ tower_password }}"